* {
  outline: black 1px solid;
}

.container {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  color: white;
  margin: 10px 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-block {
  margin: 0px;
  display: inline-block;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
}

.blue {
  background-color: blue;
  width: 80px;
  height: 80px;
}

.green {
  background-color: green;
  width: 60px;
  height: 60px;
}
