* {
  outline: black 1px solid;
}

.sub-block {
  margin: 0px;
  display: inline-block;
}

.container {
  padding: 25px;
  text-align: center;
}

.block::after { 
    content: ''; 
    display: inline-block; 
    height: 100%; 
    vertical-align: middle;
    width: 0;
  }

.block {
  margin: 10px 20px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
}

.blue {
  background-color: blue;
  width: 80px;
  height: 80px;
}

.green {
  background-color: green;
  width: 60px;
  height: 60px;
}
